/*!
Template :	ICOCrypto @by Softnio
Theme	 :  Default
Version   :  1.9.3
Updated   :  05/05/2021 
*/
/*! WRITE YOUR CUSTOM STYLE **/
@media only screen and (max-width: 600px) {
    .center-mobile {
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }
    .partner-logo {
        padding: 15px 10px !important;
    }
  }
